* {
  margin: 0;
}
html,
body {
  font-size: 40px;
  margin-bottom: -50px;
}

header {
  padding: 30px;
  background-color: #000; /* #e8f7ff; */
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

header a,
a:visited {
  color: #fff;
  text-decoration: none;
}

.logo {
  width: 200px;
}

.logo img {
  width: 100%;
}
.main {
  padding-bottom: 80px;
  margin-bottom: -40px;
  min-height: 70%;
}
footer {
  padding: 0 30px;
  background-color: #000;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  color: #fff;
}

.nav-item {
  padding: 0 20px;
}

header a:hover {
  color: #007676;
}
