<div class="main-wrapper">
  <h1>Magic Git Hub Explorer</h1>
  <div class="article">
    <div class="logo">
      <img alt="Git hub logo" src="../assets/media/github.png" />
    </div>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Maecenas eu molestie nisi. In neque lacus, suscipit vel viverra id,
      posuere nec enim. Pellentesque in sagittis tellus. Suspendisse ut
      ullamcorper nunc, in faucibus ipsum. Etiam a magna quam. Nullam mattis
      erat mi, eu accumsan nisl aliquet at. Quisque id mattis quam. Donec nulla
      nulla, porta eget erat ut, blandit interdum enim. Suspendisse tristique et
      nunc vitae blandit. Proin non purus eget justo maximus volutpat nec sed
      augue. Quisque sit amet tincidunt diam. Maecenas a leo in nibh luctus
      euismod. Sed porttitor finibus tincidunt. Curabitur turpis quam, ornare
      non ultricies sed, ultricies at lectus. <br />&nbsp;&nbsp;&nbsp;&nbsp;Nam
      ut vulputate massa, a aliquam odio. Maecenas sagittis placerat justo, vel
      consequat quam. Curabitur bibendum vitae mi eget luctus. Aliquam rhoncus
      condimentum nunc, quis tincidunt erat feugiat ac. Curabitur hendrerit
      magna diam, ac euismod quam pretium eget. Pellentesque sit amet velit eget
      nibh pretium imperdiet. Nullam consectetur ligula sed dui tristique, in
      bibendum tellus bibendum. Nullam tincidunt turpis in purus blandit
      accumsan. Donec leo mi, elementum sit amet aliquam eget, semper eget
      lorem. Proin sodales tellus nec mi ultrices ultricies. Sed efficitur quam
      est, eu varius nulla feugiat sed. Aenean dignissim nulla ut porttitor
      tincidunt. Nulla bibendum sollicitudin orci nec aliquet. Praesent id
      aliquet nibh. Orci varius natoque penatibus et magnis dis parturient
      montes, nascetur ridiculus mus. Sed vitae bibendum risus. Duis sit amet
      turpis eget mauris sollicitudin facilisis id nec lorem. Cras feugiat
      luctus imperdiet. Duis vitae nisi eu quam tincidunt sagittis. Nulla porta
      placerat euismod.
    </p>
  </div>
</div>
